<div class="container mt-3">
  <div class="col-12 col-md-8">
    <h5>Editing the Blog</h5>
    <div class="card-body">
      <form id="update-form">
        <input type="hidden" id="blog-id" name="blog_id" value="{{blog_id}}">
        <div class="mb-3">
          <label for="titleInput" class="form-label">Blog Title</label>
          <input type="text" class="form-control" id="titleInput" name="title" value="{{blog_title}}">
        </div>
        <div class="mb-3">
          <label for="contentTextarea" class="form-label">Please edit the Blog</label>
          <textarea class="form-control" id="contentTextarea" name="content" rows="5">{{blog_content}}</textarea>
        </div>
        <button id="submitbutton" class="btn btn-primary">Submit Blog</button>
      </form>
    </div>
  </div>
</div>


<script src="/js/editblog.js"></script>
  {{#if logged_in}}
    <script src="/js/logout.js"></script>
  {{/if}}